- if @message
  #message
    %h3= @message
.content
  = image_tag "wave-01.png", :id => "wave"
#about
  .content
    .clickable_top{:style => "background-image: url(../images/arrow_up.png);"}
      = image_tag "menu/about_off.png", :class => "header"
    .element
      #about{:style => "min-height:300px;"}
        = image_tag "me.png", :id => "me"      
        .text
          %ul
            %li
              %b Bartek Michalski
            %li
              %p{:style => "float:left;padding-bottom:0px;"}
                My passion is computer graphics. Creating posters, flyers, 3d models, designing websites, logos, animations as well as visual 
                identification is something not only I enjoy but something that I developed.
                I created a wave, look at this! The wave is small but over time will become a storm.
                %br
                %br
                If you are interested in collaboration with me, please write to:
              %p{:style => "float:left;"}
                Moją pasją jest grafika komputerowa. Tworzenie plakatów, ulotek, modeli 3d, projektów stron internetowych, logo, animacji jak 
                i identyfikacji wizualnych to coś co nie tylko sprawia mi przyjemność ale coś co mnie rozwija.
                Stworzyłem falę, zobacz ją! Fala jest niewielka ale z czasem przerodzi się w sztorm.
                %br
                %br
                Jeżeli interesuje Cię współpraca ze mną pisz na:
                %br
                %br
            %li{:style => "padding-bottom:20px;"}
              %b famousbartus@gmail.com

#posters
  .content
    .clickable_top
      = image_tag "menu/posters_off.png", :class => "header"
    .element
      = render :partial => "gallery", :locals => {:pictures => @pictures[:posters], :type => "poster"}

#logos
  .content
    .clickable_top
      = image_tag "menu/logos_off.png", :class => "header"
    .element
      = render :partial => "gallery", :locals => {:pictures => @pictures[:logos], :type => "logo"}

#websites
  .content
    .clickable_top
      = image_tag "menu/websites_off.png", :class => "header"
    .element
      = render :partial => "gallery", :locals => {:pictures => @pictures[:websites], :type => "website"}

#threeds
  .content
    .clickable_top
      = image_tag "menu/3d_off.png", :class => "header"
    .element
      = render :partial => "gallery", :locals => {:pictures => @pictures[:threeds], :type => "threeds"}

#wallpapers
  .content
    .clickable_top
      = image_tag "menu/wallpapers_off.png", :class => "header"
    .element
      = render :partial => "gallery", :locals => {:pictures => @pictures[:wallpapers], :type => "wallpaper"}

#contact
  .content
    = image_tag "menu/contact_off.png", :class => "header"
    %h3 Feel free to mail me. 
    #contact_partial
      = render :partial => "contact"

:javascript
  $(document).ready(function(){
    $('#about .clickable_top').hover(
      function() {
        $('#about .clickable_top').css('background-image',"url(../images/arrow_up_black.png)");
      }, function() {
        $('#about .clickable_top').css('background-image',"url(../images/arrow_up.png)");
      }
    );

    $('#about .clickable_top').click(function() {
      fam_slide('#about', false);
    });

    $('#posters .clickable_top').click(function() {
      fam_slide('#posters', false);
    });

    $('#logos .clickable_top').click(function() {
      fam_slide('#logos', false);
    });

    $('#wallpapers .clickable_top').click(function() {
      fam_slide('#wallpapers', false);
    });

    $('#websites .clickable_top').click(function() {
      fam_slide('#websites', false);
    });

    $('#threeds .clickable_top').click(function() {
      fam_slide('#threeds', false);
    });

  });

  $(".gallery.poster img").hover(function() {
    $(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
    $(this).addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
    .animate({
      marginTop: '10px', /* The next 4 lines will vertically align this image */ 
      marginLeft: '10px',
      width: '170px', /* Set new width */
      height: '240px', /* Set new height */
    }, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
  } , function() {
    $(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
    $(this).removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
    .animate({
      marginTop: '25px', /* Set alignment back to default */
      marginLeft: '20px',
      width: '150px', /* Set width back to default */
      height: '212px', /* Set height back to default */
    }, 400);
  });
  
  $(".gallery.logo img").hover(function() {
    $(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
    $(this).addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
    .animate({
      marginTop: '15px', /* The next 4 lines will vertically align this image */ 
      marginLeft: '10px',
      width: '170px', /* Set new width */
      height: '170px', /* Set new height */
    }, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
  } , function() {
    $(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
    $(this).removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
    .animate({
      marginTop: '25px', /* Set alignment back to default */
      marginLeft: '20px',
      width: '150px', /* Set width back to default */
      height: '150px', /* Set height back to default */
    }, 400);
  });

  $(".gallery.website img").hover(function() {
    $(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
    $(this).addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
    .animate({
      marginTop: '15px', /* The next 4 lines will vertically align this image */ 
      marginLeft: '5px',
      width: '255px', /* Set new width */
      height: '170px', /* Set new height */
    }, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
  } , function() {
    $(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
    $(this).removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
    .animate({
      marginTop: '25px', /* Set alignment back to default */
      marginLeft: '20px',
      width: '225px', /* Set width back to default */
      height: '150px', /* Set height back to default */
    }, 400);
  });
  
  $(".gallery.threeds img").hover(function() {
    $(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
    $(this).addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
    .animate({
      marginTop: '15px', /* The next 4 lines will vertically align this image */ 
      marginLeft: '5px',
      width: '227px', /* Set new width */
      height: '170px', /* Set new height */
    }, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
  } , function() {
    $(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
    $(this).removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
    .animate({
      marginTop: '25px', /* Set alignment back to default */
      marginLeft: '20px',
      width: '200px', /* Set width back to default */
      height: '150px', /* Set height back to default */
    }, 400);
  });
  
  $(".gallery.wallpaper img").hover(function() {
    $(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
    $(this).addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
    .animate({
      marginTop: '15px', /* The next 4 lines will vertically align this image */ 
      marginLeft: '5px',
      width: '227px', /* Set new width */
      height: '170px', /* Set new height */
    }, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
  } , function() {
    $(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
    $(this).removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
    .animate({
      marginTop: '25px', /* Set alignment back to default */
      marginLeft: '20px',
      width: '200px', /* Set width back to default */
      height: '150px', /* Set height back to default */
    }, 400);
  });
  
  // execute your scripts when the DOM is ready. this is mostly a good habit
  $(function() {
    // initialize scrollable
    $(".scrollable").scrollable();
  });
